services:
  influxdb:
    image: influxdb:2
    pull_policy: always
    container_name: influxdb
    networks:
      - weather
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: "${INFLUXDB_ADMIN_USERNAME}"
      DOCKER_INFLUXDB_INIT_PASSWORD: "${INFLUXDB_ADMIN_PASSWORD}"
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: "${INFLUXDB_ADMIN_TOKEN}"
      DOCKER_INFLUXDB_INIT_ORG: "${INFLUXDB_ORG}"
      DOCKER_INFLUXDB_INIT_BUCKET: "${INFLUXDB_DEFAULT_BUCKET}"
    volumes:
      - "${INFLUXDB_DATA}:/var/lib/influxdb2"
      - "${INFLUXDB_CONFIG}:/etc/influxdb2"

  grafana:
    image: grafana/grafana:latest
    pull_policy: always
    container_name: grafana
    networks:
      - weather
    depends_on:
      - influxdb
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "${GRAFANA_ADMIN_USER}"
      GF_SECURITY_ADMIN_PASSWORD: "${GRAFANA_ADMIN_PASSWORD}"
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - "${GRAFANA_DATA}:/var/lib/grafana"

networks:
  weather:
    external: true
