<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station Graphs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Weather Station Graphs</h1>
    <div id="temp_dew_graph"></div>
    <div id="humidity_graph"></div>
    <div id="windspeed_graph"></div>
    <div id="windgust_graph"></div>
    <div id="pressure_graph"></div>
    <div id="precip_rate_graph"></div>
    <div id="precip_accum_graph"></div>
    <script>
        var temp_dew_graph = {{ json_graphs.temp_dew_graph | safe }};
        var humidity_graph = {{ json_graphs.humidity_graph | safe }};
        var windspeed_graph = {{ json_graphs.windspeed_graph | safe }};
        var windgust_graph = {{ json_raphs.windgust_graph | safe }};
        var pressure_graph = {{ json_graphs.pressure_graph | safe }};
        var precip_rate_graph = {{ json_graphs.precip_rate_graph | safe }};
        var precip_accum_graph = {{ json_graphs.precip_accum_graph | safe }};
        Plotly.newPlot('temp_dew_graph', temp_dew_graph.data, temp_dew_graph.layout);
        Plotly.newPlot('humidity_graph', humidity_graph.data, humidity_graph.layout);
        Plotly.newPlot('windspeed_graph', windspeed_graph.data, windspeed_graph.layout);
        Plotly.newPlot('windgust_graph', windgust_graph.data, windgust_graph.layout);
        Plotly.newPlot('pressure_graph', pressure_graph.data, pressure_graph.layout);
        Plotly.newPlot('precip_rate_graph', precip_rate_graph.data, precip_rate_graph.layout);
        Plotly.newPlot('precip_accum_graph', precip_accum_graph.data, precip_accum_graph.layout);
    </script>
</body>
</html>
