<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station Graphs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Weather Station Graphs</h1>
    <div id="temp_dew_graph"></div>
    <div id="windspeed_graph"></div>
    <script>
        var temp_dew_graph = {{ graphs.temp_dew_graph | safe }};
        var windspeed_graph = {{ graphs.windspeed_graph | safe }};
        Plotly.newPlot('temp_dew_graph', temp_dew_graph.data, temp_dew_graph.layout);
        Plotly.newPlot('windspeed_graph', windspeed_graph.data, windspeed_graph.layout);
    </script>
</body>
</html>
